@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

* {
    box-sizing: content-box;  
}

.header {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.headerImg {
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    
}

.sidebar {
    border: 2px solid pink;
    color: white;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-header {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


.sidebar-headerTitle {
    border-bottom: 2px solid #dbdbdb;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Roboto Slab', serif;
}

.sidebar-header p {
    margin-top: 0px;
    
}


.sidebar-menus {
    margin-top: 0px;
    padding-left: 0px;
    list-style: none;
}

.sidebar-menu {
    margin: 8px;
    text-align: left;
    padding-bottom: 5px;
}

.sidebar-menu span {
    padding-bottom: 2px;
    border-bottom: 2px solid #dbdbdb;    
}

.sidebar-icons {
    list-style: none;;
    padding-left: 0;
    display: flex;
    
}
.sidebar-icons li {

    margin: 10px;
}


.sidebar-icons a {
    list-style: none;
    text-decoration: none;
    color: white;

}