.header {
    border: 1px solid blue;
    position: fixed;
    height: 100%;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    border: 2px solid pink;
    
}

ul {
    list-style: none;
}