@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

.menu {
    width: 96px;
    height: 80px;
    display : flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
}