.nav {
    border: 3px solid black;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;

}

.barIcon {
    padding: 20px;
    border: 1px solid red;
    margin-left: 150px;
}